src/gpgui/data/shortcuts_xml_schema.xml

<?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Shortcuts">
       <xs:complexType>
          <xs:sequence>
             <xs:element name="Shortcut">
                <xs:complexType>
                   <xs:sequence>
                      <xs:element name="Properties">
                         <xs:complexType>
                            <xs:attribute name="pidl" 
                              type="xs:string" use="optional" />
                            <xs:attribute name="targetType" 
                              type="xs:string" use="required" />
                            <xs:attribute name="action" type="xs:string" use="optional" />
                            <xs:attribute name="comment" 
                              type="xs:string" use="optional" />
                            <xs:attribute name="shortcutKey" 
                              type="xs:unsignedByte" use="optional" />
                            <xs:attribute name="startIn" 
                              type="xs:string" use="optional" />
                            <xs:attribute name="arguments" 
                              type="xs:string" use="optional" />
                            <xs:attribute name="iconIndex" 
                              type="xs:unsignedByte" use="optional" />
                            <xs:attribute name="targetPath" 
                              type="xs:string" use="required" />
                            <xs:attribute name="iconPath" 
                              type="xs:string" use="optional" />
                            <xs:attribute name="window" type="xs:string" use="optional" />
                            <xs:attribute name="shortcutPath" 
                              type="xs:string" use="required" />
                          <xs:attribute name="disabled" 
                              type="xs:boolean" use="optional" />
                         </xs:complexType>
                      </xs:element>
                   </xs:sequence>
                   <xs:attribute name="clsid" type="xs:string" use="required" />
                   <xs:attribute name="name" type="xs:string" use="required" />
                   <xs:attribute name="image" type="xs:unsignedByte" use="optional" />
                   <xs:attribute name="changed" type="xs:string" use="optional" />
                   <xs:attribute name="uid" type="xs:string" use="required" />
                   <xs:attribute name="desc" type="xs:string" use="optional" />
                   <xs:attribute name="bypassErrors" type="xs:boolean" use="optional" />
                   <xs:attribute name="userContext" type="xs:boolean" use="optional" />
                   <xs:attribute name="removePolicy" type="xs:boolean" use="optional" />
                </xs:complexType>
             </xs:element>
          </xs:sequence>
          <xs:attribute name="clsid" type="xs:string" use="required" />
          <xs:attribute name="disabled" 
            type="xs:boolean" use="optional" />
       </xs:complexType>
    </xs:element>
 </xs:schema>